<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (client(); as clientRef) {
      <div>
        <h2 data-cy="clientDetailsHeading"><span jhiTranslate="pfeApp.client.detail.title">Client</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ clientRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="pfeApp.client.raisonSociale">Raison Sociale</span></dt>
          <dd>
            <span>{{ clientRef.raisonSociale }}</span>
          </dd>
          <dt><span jhiTranslate="pfeApp.client.identifiantUnique">Identifiant Unique</span></dt>
          <dd>
            <span>{{ clientRef.identifiantUnique }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/client', clientRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
