<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vehicule-heading" data-cy="VehiculeCreateUpdateHeading" jhiTranslate="pfeApp.vehicule.home.createOrEditLabel">
        Créer ou éditer un Vehicule
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="pfeApp.vehicule.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let modelRef = editForm.get('model')!;
        <div class="mb-3">
          <label class="form-label" for="field_model" jhiTranslate="pfeApp.vehicule.model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
          @if (modelRef.invalid && (modelRef.dirty || modelRef.touched)) {
            <div>
              @if (editForm.get('model')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let numeroCarteGriseRef = editForm.get('numeroCarteGrise')!;
        <div class="mb-3">
          <label class="form-label" for="field_numeroCarteGrise" jhiTranslate="pfeApp.vehicule.numeroCarteGrise">Numero Carte Grise</label>
          <input
            type="text"
            class="form-control"
            name="numeroCarteGrise"
            id="field_numeroCarteGrise"
            data-cy="numeroCarteGrise"
            formControlName="numeroCarteGrise"
          />
          @if (numeroCarteGriseRef.invalid && (numeroCarteGriseRef.dirty || numeroCarteGriseRef.touched)) {
            <div>
              @if (editForm.get('numeroCarteGrise')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let numSerieRef = editForm.get('numSerie')!;
        <div class="mb-3">
          <label class="form-label" for="field_numSerie" jhiTranslate="pfeApp.vehicule.numSerie">Num Serie</label>
          <input type="text" class="form-control" name="numSerie" id="field_numSerie" data-cy="numSerie" formControlName="numSerie" />
          @if (numSerieRef.invalid && (numSerieRef.dirty || numSerieRef.touched)) {
            <div>
              @if (editForm.get('numSerie')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let statutRef = editForm.get('statut')!;
        <div class="mb-3">
          <label class="form-label" for="field_statut" jhiTranslate="pfeApp.vehicule.statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'pfeApp.StatutVehicule.null' | translate }}</option>
            @for (statutVehicule of statutVehiculeValues; track $index) {
              <option [value]="statutVehicule">{{ 'pfeApp.StatutVehicule.' + statutVehicule | translate }}</option>
            }
          </select>
          @if (statutRef.invalid && (statutRef.dirty || statutRef.touched)) {
            <div>
              @if (editForm.get('statut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let typeRef = editForm.get('type')!;
        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="pfeApp.vehicule.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="field_workOrders" jhiTranslate="pfeApp.vehicule.workOrder">Work Order</label>
          <select
            class="form-control"
            id="field_workOrders"
            data-cy="workOrder"
            multiple
            name="workOrders"
            formControlName="workOrders"
            [compareWith]="compareWorkOrder"
          >
            @for (workOrderOption of workOrdersSharedCollection; track $index) {
              <option [ngValue]="workOrderOption">{{ workOrderOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
