<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ordre-travail-client-heading"
        data-cy="OrdreTravailClientCreateUpdateHeading"
        jhiTranslate="pfeApp.ordreTravailClient.home.createOrEditLabel"
      >
        Créer ou éditer un Ordre Travail Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="pfeApp.ordreTravailClient.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let fraisSessionRef = editForm.get('fraisSession')!;
        <div class="mb-3">
          <label class="form-label" for="field_fraisSession" jhiTranslate="pfeApp.ordreTravailClient.fraisSession">Frais Session</label>
          <input
            type="number"
            class="form-control"
            name="fraisSession"
            id="field_fraisSession"
            data-cy="fraisSession"
            formControlName="fraisSession"
          />
          @if (fraisSessionRef.invalid && (fraisSessionRef.dirty || fraisSessionRef.touched)) {
            <div>
              @if (editForm.get('fraisSession')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fraisSession')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_article" jhiTranslate="pfeApp.ordreTravailClient.article">Article</label>
          <input type="text" class="form-control" name="article" id="field_article" data-cy="article" formControlName="article" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_workOrder" jhiTranslate="pfeApp.ordreTravailClient.workOrder">Work Order</label>
          <select
            class="form-control"
            id="field_workOrder"
            data-cy="workOrder"
            name="workOrder"
            formControlName="workOrder"
            [compareWith]="compareWorkOrder"
          >
            <option [ngValue]="null"></option>
            @for (workOrderOption of workOrdersSharedCollection; track $index) {
              <option [ngValue]="workOrderOption">{{ workOrderOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
