<div>
  <h2 id="page-heading" data-cy="GestionCoutHeading">
    <span jhiTranslate="pfeApp.gestionCout.home.title">GestionCouts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="pfeApp.gestionCout.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gestion-cout"
        [routerLink]="['/gestion-cout/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pfeApp.gestionCout.home.createLabel">Créer un nouveau Gestion Cout</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (gestionCouts().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pfeApp.gestionCout.home.notFound">Aucun Gestion Cout trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="time">
              <div class="d-flex">
                <span jhiTranslate="pfeApp.gestionCout.time">Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cout">
              <div class="d-flex">
                <span jhiTranslate="pfeApp.gestionCout.cout">Cout</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="planificateur.id">
              <div class="d-flex">
                <span jhiTranslate="pfeApp.gestionCout.planificateur">Planificateur</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (gestionCout of gestionCouts(); track trackId(gestionCout)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/gestion-cout', gestionCout.id, 'view']">{{ gestionCout.id }}</a>
              </td>
              <td>{{ gestionCout.time }}</td>
              <td>{{ gestionCout.cout }}</td>
              <td>
                @if (gestionCout.planificateur) {
                  <div>
                    <a [routerLink]="['/planificateur', gestionCout.planificateur.id, 'view']">{{ gestionCout.planificateur.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/gestion-cout', gestionCout.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/gestion-cout', gestionCout.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(gestionCout)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
