<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (affaire(); as affaireRef) {
      <div>
        <h2 data-cy="affaireDetailsHeading"><span jhiTranslate="pfeApp.affaire.detail.title">Affaire</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ affaireRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="pfeApp.affaire.reference">Reference</span></dt>
          <dd>
            <span>{{ affaireRef.reference }}</span>
          </dd>
          <dt><span jhiTranslate="pfeApp.affaire.description">Description</span></dt>
          <dd>
            <span>{{ affaireRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="pfeApp.affaire.client">Client</span></dt>
          <dd>
            @if (affaire()!.client) {
              <div>
                <a [routerLink]="['/client', affaire()!.client?.id, 'view']">{{ affaireRef.client?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/affaire', affaireRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
